<div class="row w-75 mx-auto mt-5">
    <form action="" class="row mt-5" style="border: 1px solid black;" (ngSubmit)="edit()"  >
        <H4 class="text-center mt-4">Edit Details</H4>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
            <div class="form-floating mb-3">
                <input  type="type" [(ngModel)]="id" name="id"  class="form-control" id="floatingInput"
                    placeholder="name@example.com" disabled>
                <label for="floatingInput">Car ID</label>
                
            </div>
            <div class="form-floating">
                <input [(ngModel)]="carnme" name="nme"  type="text" class="form-control" id="nme" placeholder="Password">
                <label for="floatingPassword">Car Name</label>
              
            </div>
            <div class="form-floating mb-3 mt-3">
                <input [(ngModel)]="carmodel" name="model"  type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Model Year</label>
              
            </div>
            <div class="form-floating">
                <input [(ngModel)]="price" name="price"  type="Number" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Price Per Day</label>
               
            </div>
            <div  class="form-floating mb-3 mt-3">
                <input [(ngModel)]="carimge" name="imge"  type="Text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Car Image in URL</label>
                
            </div>


        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
            <div class="form-floating">
                <input [(ngModel)]="fuel" name="fuel" type="Text" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Fuel</label>
             
            </div>
            <div class="form-floating mb-3 mt-3">
                <input [(ngModel)]="transmission" name="trans"  type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Transmission</label>
                
            </div>
            <div class="form-floating">
                <input [(ngModel)]="capacity" name="capa"   type="Number" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Capacity</label>
               
            </div>
            <div class="form-floating mt-3">
                <input [(ngModel)]="mileage" name="mileage"  type="number" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Mileage</label>
               
            </div>
            <div class="form-floating mt-3">
                <input [(ngModel)]="condition" name="condition" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Condition</label>
               
            </div>
        </div>
        <div class="mx-auto text-center mb-4">
            <button class="btn btn-success w-25 me-4">Submit</button>
            <button class="btn btn-success w-25 me-4 ms-3" (click)="cancel()" >cancel</button>
            
        </div>
    </form>
</div>
