<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/nh9Qp7xX/Black-And-White-Aesthetic-Minimalist-Modern-Simple-Typography-Coconut-Cosmetics-Logo-3.png" alt=""
            style=" height: 90px;"></a>
        <button class="navbar-toggler bg-black " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon "></span></button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 navi ">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Vehicle Model</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Testmonials</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">Our Team</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">contact</a></li>
                <button class="btn btn-success " (click)="vehicleaddpage()"><i class="fa-solid fa-user-plus"></i> vehicle</button>
                
               


            </ul>
        </div>
    </div>
</nav>

<h4 class="text-center">car List</h4>

<form class="d-flex w-25 mx-auto" role="search" 

>
    <input class="form-control me-2" (keyup)="searchdata($event)" [(ngModel)]="filter" name="filte" id="filt" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>


<section class="mt-5 d-flex row mx-auto  " style="width: 95%;">

   
    <div *ngFor="let i of collection | search:filter:'carnme' " class="col-lg-3 col-md-4 col-sm-12 mt-3 text-center  "  >
        <div class="card" style="width: 100%;">
            <img src={{i.carimge}} class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <div class="d-flex justify-content-center">
              <h5 class="card-title text-center">{{i.carnme}}</h5>
              <button id="edit" (click)="vehicleedit(i.carid)" class="btn" role="button" ><i class="fa-solid fa-pen-to-square"></i></button>
             
            </div>
            <h6 class="text-center text-muted">Rs.{{i.price}}/day</h6>
              
            <ul class="list-group list-group-flush ">
                <li class="list-group-item text-center">{{i.transmission}}</li>
                <li class="list-group-item text-center">{{i.fuel}}</li>
                <li class="list-group-item text-center"><span>mileage: </span>{{i.mileage}}</li>
                <li class="list-group-item text-center"><span>condition: </span>{{i.condition}}</li>
                <li class="list-group-item text-center"><span>capacity: </span>{{i.capacity}}</li>
               
              </ul>
        
         
            </div>
          </div>
          <button (click)="vehicledelete(i.carid)" class="noselect mx-auto" id="delete" ><span class="text">Delete all</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>





          
          

    </div>

</section>
