<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/d0kZpWGn/logo-transparent-png-1.png" alt=""
                style=" height: 70px;"></a>
        <button class="navbar-toggler bg-black " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon "></span></button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 navi ">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Vehicle Model</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Testmonials</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">Our Team</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row 
  mx-auto" style="width: 85%;">

    <div class="col-lg-6 col-md-12   ">

        <h1 class="text-center mt-5">Booking</h1>
        <form action="" class="mt-5 mx-auto " [formGroup]="reserveForm" (ngSubmit)="  toreserve()">
            <div class="row mx-auto " style="display: flex; justify-content: space-evenly;">
                <div class="form-floating mb-3  col-lg-5">
                    <input type="date" formControlName="frmdate" class="form-control " id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">From Date</label>
                    <div *ngIf="(this.reserveForm.get('frmdate')?.errors)&&(this.reserveForm.get('frmdate')?.touched)">
                        <p>Date not Valid</p>
                    </div>
                </div>
                <div class="form-floating mb-3 col-lg-5 ">
                    <input formControlName="toDate" type="date" class="form-control " id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">To Date</label>
                    <div *ngIf="(this.reserveForm.get('toDate')?.errors)&&(this.reserveForm.get('toDate')?.touched)">
                        <p>Date not Valid</p>
                    </div>
                </div>
            </div>
            <div class="form-floating  mt-3 mx-auto" style="width: 84%;">
                <input type="number" formControlName="nDays" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Number Of days</label>
                <div *ngIf="(this.reserveForm.get('nDays')?.errors)&&(this.reserveForm.get('nDays')?.touched)">
                    <p>Number of days Invalid</p>
                </div>
            </div>
            <div class="form-floating  mt-3 mx-auto" style="width: 84%;">
                <input type="text" formControlName="lNum" class="form-control" id="floatingPassword"
                   placeholder="Password" >
                <label for="floatingPassword">licence Number</label>
                <div *ngIf="(this.reserveForm.get('lNum')?.errors)&&(this.reserveForm.get('lNum')?.touched)">
                    <p>Date not Valid</p>
                </div>
            </div>
            <div class="text-end me-5">
                <button class="btn btn-primary mt-5" (click)="checkavailable()" >Reserve</button>
            </div>

        </form>
    </div>
    <div class="col-lg-6 col-md-12  mt-2">
        <h4 class="ms-5 mt-5">{{carname}}</h4>
        <h6 class="ms-5">details</h6>
        <img class="w-100 mt-5" src={{carimage}} alt="">
    </div>

</div>