@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Manrope&family=Tilt+Warp&display=swap');

h1,h4,h3,h2{
  font-family: 'Tilt Warp', cursive;
}
p{
  font-family: 'Manrope', sans-serif;
}


ul{
	display: flex;
	width: 100%;
	/* height: 80vh; */
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #0f0e0e;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}   
  /* ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:15px;
    font-family: sans-serif;
    color:black;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.1);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#e31e56;
    border-radius: 20px;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  } */
/* .divleft{
  border-left: 1px solid black;
}
.divright{
  border-right: 1px solid black;
}

.brdrdiv{
  border: 1px solid black;
} */

  

  .slctcar button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
  height: 100%;
  }
  .slctcar button:hover{
    background-color: orangered;
  }
  .modelimg img{
    width: 100%;
  }
 
.modeldetails div{
  height: 40px;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.reservebtn{
  background-color: orangered;
  color: white;
}
.reservebtn button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
  height: 100%;
}

.reservebtn button:hover{
  background-color: rgb(216, 48, 48);
  color: black;
}
.askq button:focus,.button:active{
  outline: none;
background-color: orangered;
color: white;
box-shadow: none

}

 /* register form */
 .wrapper{
  width: 100%;
  background: #fff;
  padding: 30px;
}

.wrapper .input-data{
  height: 30px;
  width: 100%;
  position: relative;
}
input:focus{
  outline: none;
}
.wrapper .input-data input{
  
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  
  
  
}
.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color:red;
}

.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  
}
.wrapper .input-data .underline{
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
 
}
.input-data .underline:before{
  background: red;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Kanit&family=Manrope&family=Tilt+Warp&display=swap');

th,td{
  font-family: 'Carlito', sans-serif;
}

.reservebtn a{
  text-decoration: none;
  color: white;
}

.reservebtn a:hover{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

/* drop dowm */
html{
  scroll-behavior: smooth;
}

body.modal-open {
  padding-right: 0 !important;
}


/* model button */



/* CSS */
.modelbtn {
  
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 12px 12px 10px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 5px;
}

.modelbtn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.modelbtn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.modelbtn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(172, 19, 19);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.modelbtn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.modelbtn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
