






<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href=""><img src="https://i.postimg.cc/d0kZpWGn/logo-transparent-png-1.png" alt=""
                style=" height: 70px;"></a>
        <button class="navbar-toggler bg-black " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon "></span></button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 navi ">
                
                    <li><a href="" id="models"></a>Home</li>
                    <li>About</li>
                    <li>Gallery</li>
                    <li>Contact us</li>
                    <li *ngIf="!usenme"><button class="btn mx-auto text-center " style="height: 35px;" (click)="registeruser()">REGISTER</button></li>
                <li  *ngIf="!usenme" ><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    LOGIN
                </button></li>
                <li  *ngIf="!usenme" ><button class="btn" (click)="adminlogin()">ADMIN</button></li>

                <li  *ngIf="usenme" ><button class="btn me-3" (click)="orders()">HISTORY</button></li>
                <li *ngIf="usenme"><button class="btn " (click)="logout()">LOGOUT</button></li>
                
                <!-- <div *ngIf="!usenme" >
                    <button class="btn  ms-5" style="height: 35px;" (click)="registeruser()">Register</button>
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        login
                    </button>
                    <a href="adminlogin">Adminlogin</a>
                    <button class="btn" (click)="adminlogin()">admin login</button>
                </div> -->
                <!-- <div *ngIf="usenme" class="ms-5" style="display: flex; justify-content: end; "> -->
                    <!-- <p style="color:black">{{usenme}}</p> -->
                    <!-- <button class="btn me-3" (click)="orders()">History</button>
                    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>

                    
                </div> -->
                





            </ul>
        </div>
    </div>
</nav>

<!-- header section -->



<div class="row mb-2 headermain" style="display: flex; justify-content: center; ">
    <div class="col-lg-4 col-md-6 col-sm-12 ">
        <h4 style="margin-top: 30%;">Plan Your Trip Now</h4>
        <h1>Save <span style="color: red;">big</span>With Our <br>car Rental</h1>
        <p class="mt-3">Rent the car of your dreams.Unbeatable prices,unlimited miles and much more</p>
        

    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 headerdiv2 ">
        <img src="https://i.postimg.cc/jjJPgB0T/pngwing-com.png" alt="" class="w-100 mt-5 ">
    </div>
</div>
<section class="row text-center mt-5 " style="display: flex; justify-content: space-evenly;">
    <h3>Plan your trip now</h3>
    <h1 class="mb-5">Quick and easy way to travel</h1>
    <div class="card" style="width: 18rem; border: none;">
       
        
        <img height="200px" src="https://i.postimg.cc/x15NcnFH/car.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="mt-2 mb-3">Select car</h4>
            <p class="card-text">we offer a big range of vehicles for all your driving roads.We have the perfect car to
                meet your road</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;border: none;">
        <!-- <i class="fa-solid fa-headset fa-6x " style="color: orangered;"></i> -->
        <img style="height: 200px;"  src="https://i.postimg.cc/LXbnM1n7/Whats-App-Image-2023-06-04-at-17-09-46.jpg" class="card-img-top " 
            alt="...">
        <div class="card-body">
            <h4 class="mt-2 mb-3">Contact operator</h4>
            <p class="card-text">Our knowledgable and friendly operators are always ready to help with any questions and
                concerns</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;border: none;">
        <img src="https://i.postimg.cc/jjJPgB0T/pngwing-com.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="mt-2 mb-3">Let's Drive</h4>
            <p class="card-text">whether you're hitting the open road we've got you covered with wide range of cars</p>
        </div>
    </div>
</section>
<section class="row  mx-auto text-center mt-5" id="models" style="width: 80%;">
    <h4 class="mt-5">vehicle models</h4>
    <h1>Our rental fleet</h1>
    <p>chppse from variety of vehicles in our list</p>

    <div class="col-lg-3 col-md-12 mt-4  slctcar  ">

        <div class="mt-2 w-75  " style="background-color: grey;height: 40px;" *ngFor="let i of cardetails"><button
                (click)="view(i.carid)">{{i.carnme}}</button></div>

    </div>
    <div class="col-lg-6 col-md-12  modelimg "><img class="w-100 "  src={{carimage}} alt=""></div>
    <div class="col-lg-3 col-md-12  modeldetails">

        <div style="height: 60px; background-color: orangered;">
            <h3 class="text-white"><i class="fa-solid fa-indian-rupee-sign"></i> {{carprice}}/day</h3>
        </div>
        

            <table class="table mt-3" style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{carname}}</td>

                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>{{carmodel}}</td>

                    </tr>
                    <tr>
                        <th>Fuel</th>
                        <td>{{carfuel}}</td>

                    </tr>
                    <tr>
                        <th>Transmission</th>
                        <td>{{cartransmission}}</td>

                    </tr>
                    <tr>
                        <th>Capacity</th>
                        <td>{{carcapacity}}</td>

                    </tr>
                    <tr>
                        <th>Mileage</th>
                        <td>{{carmileage}} KM/L</td>

                    </tr>
                    
                    <tr>
                        <th>Condition</th>
                        <td>{{carcondition}}</td>

                    </tr>
                </tbody>
            </table>

        

        <div class="w-75 mx-auto mt-3 w-100 mx-auto reservebtn mt-3">
            
            <button (click)=" reservepge()">reserve</button>
        </div>
    </div>

</section>


<div class="bg-dark w-100 text-center text-white mt-5" style="height: 180px; display: flex; justify-content: center; ">
    <div class="my-auto">
        <h1 class="">Save big with our cheap car rental!</h1>
        <h5 class="mt-4">Top customer support <span style="color: red;">24/7</span></h5>
    </div>
</div>

<section class="w-75 mx-auto row" style="display: flex; justify-content: space-evenly;">
    <img class="w-100" src="https://i.postimg.cc/WzFkZ4ss/pngwing-com.png" alt="">
    <div class="  col-lg-5 col-md-10 mt-5">
        <h4 class="mt-3">why Choose Us</h4>
        <h1 class="mt-3">Best valued deals you will ever find</h1>
        <p class="mt-3">We gives you the freedom of self-drive! With the cheapest rental car solutions, We has the best
            offers, cheapest prices and a wide range of cars to choose from. Get unlimited KMs, Free Cancellation, 0
            Security Deposit, 0 Toll Charges, and 24/7 Roadside Assistance. </p>
        <button class="btn text-white mt-4" style="background-color: red;"> Find offers</button>
    </div>
    <div class=" col-lg-5 col-md-10 mt-5">
        <div class="row mt-3">
            <div class="col-lg-3  mt-3">
                <img src="https://i.postimg.cc/jjJPgB0T/pngwing-com.png" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-8 ">
                <h4>Cross country Drive</h4>
                <p>Take you driving experience to next level with our top notch vehicles for your cross country
                    adventures.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mt-3 ">
                <img src="https://i.postimg.cc/jjJPgB0T/pngwing-com.png" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-8 ">
                <h4>All Inclusive Pricing</h4>
                <p>Get everything you need in a convenient transparent price with our all-inclusive pricing policy </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mt-3 ">
                <img src="https://i.postimg.cc/jjJPgB0T/pngwing-com.png" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-8 ">
                <h4>no hidden charges</h4>
                <p>Enjoy peace of mind with our no hidden charges policy.We believe in transperent and honest pricing
                </p>
            </div>
        </div>

    </div>
</section>

<section class="row w-75 mx-auto  mt-5 text-center" style="display: flex; justify-content: center;">
    <h4 class="mt-4">Reviewed by people</h4>
    <h1 class="">Client's Testmonials</h1>
    <p class="mt-1 mb-2">Discover the positive impact we've made on the clients by reading through there
        <br>Testmonials.Our clients have experienced our service and results, and they're eager to share <br>their
        positive experiences with you.
    </p>
    <div class="card me-2 mt-5 " style="width: 23rem;">
        <div class="card-body">
            <p class="card-text">"We rented a car from the website and had a wonderful experience! the booking was easy
                and the rental rates where very affordable</p>
        </div>
        <img src="https://i.postimg.cc/WbV7tRkk/CUSTO1.png" class="card-img-top" alt="...">

    </div>
    <div class="card ms-2 me-2 mt-5 " style="width: 23rem;">

        <div class="card-body">
            <p class="card-text">"The car was in a great condintion and made our trip even better.Highly recommend for
                this car rental website </p>
        </div>
        <img src="https://i.postimg.cc/VvWnX6Cb/CUSTO-2.png" class="card-img-top" alt="...">
    </div>

</section>

<section class="askedquest row text-center mx-auto mt-5" style="width: 60%;">
    <h4 class="mt-5">FAQ</h4>
    <h1>frequently Asked Quetions</h1>
    <p>Frequently asked question about the car Rental Booking Process on our website and answers to common concerns and
        enquiries</p>
    <div class="accordion accordion-flush mt-4 askq " id="accordionFlushExample"
        style="box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;">
        <div class="accordion-item mt-3  ">
            <h2 class="accordion-header ">
                <button class="accordion-button collapsed  " type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    1.What is special about comparing rental car deals
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Comparing rental car deals is important as it helps find the best deal that
                    fits your budgets and requirements.ensuring you get the best value for money.by comparing various
                    options you can find deals that offer lower price,additional service or better car models.You can
                    find car rental mdeals by researching online and comparing prices from different rental companies
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    2.How do i find car rental deals
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Find a car rental company in your area.
                    Look for a company that has a variety of rental cars in its portfolio.
                    Choose one that is within your price range.
                    Before driving a car, always inspect it for any damages.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    3.What should you check before renting a car
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse mb-3"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Make sure you have your paperwork is completed.
                    Vehicle Should Have valid documents.
                    Confirm from company Car Registration Number is valid </div>
            </div>
        </div>
    </div>
</section>

<!-- login model -->


<div *ngIf="!usenme" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="loginForm" (ngSubmit)="login()">

                    <div class="wrapper">
                        <div class="input-data">
                            <input formControlName="email" name="username" type="text" id="uid" required>
                            <div class="underline"></div>
                            <label>Email</label>
                            <div *ngIf="(this.loginForm.get('email')?.errors)&&(this.loginForm.get('email')?.touched)">
                                Email not valid</div>

                        </div>
                        <div class="input-data mt-5">
                            <input formControlName="psw" name="password" type="password" id="password" required>
                            <div class="underline"></div>
                            <label>Password</label>
                            <div *ngIf="(this.loginForm.get('psw')?.errors)&&(this.loginForm.get('psw')?.touched)">
                                Password invalid</div>

                        </div>



                    </div>
                    <div class="mx-auto text-center">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Login</button>


                    </div>

                </form>
            </div>

        </div>
    </div>
    <!-- extra -->
    
</div>

