@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Manrope&family=Tilt+Warp&display=swap');

h1,h4,h3,h2{
  font-family: 'Tilt Warp', cursive;
}
p{
  font-family: 'Manrope', sans-serif;
}

  ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:15px;
    font-family: sans-serif;
    color:black;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.1);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#e31e56;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

  /* register form */

 form input{
    border: none;
    box-shadow: none;
    border-bottom: 1px blue solid;
    border-radius: 0%;
 }

 form input:active{
    border-bottom: 2px solid blue;
    
 }